/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(135deg, #f6d6e0, #c8e9f0);
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: #b56576;
    text-align: center;
  }
  p {
    font-family: 'Poppins', sans-serif;
    color: #444;
    text-align: center;
  }
  
  